{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="text-center">
                <h4 class="homeHeader">I'd Like To...</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="card border-success mb-3 view-card">
                <div class="card-header view text-center bg-success text-white">View</div>
                <div class="card-body">
                    <a href="/view/lost"><button type="button" class="btn btn-outline-success" id="viewLost">Lost Pets</button></a>
                    <div>________</div>
                    <a href="/view/found"><button type="button" class="btn btn-outline-success" id="viewFound">Found Pets</button></a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card border-success mb-3 post-card">
                <div class="card-header post text-center bg-success text-white">Post</div>
                <div class="card-body">
                    <a href="/post/lost"><button type="button" class="btn btn-outline-success lost" id="postLost">Lost Pets</button></a>
                    <div>________</div>
                    <a href="/post/found"><button type="button" class="btn btn-outline-success found" id="postFound">Found Pets</button></a>
                </div>
            </div>
        </div>
    </div>

    <script>
    </script>