{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="text-center">
                <h4 class="homeHeader">I'd Like To...</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="card text-white bg-success mb-3">
                <div class="card-header text-center">Browse</div>
                <div class="card-body">
                    <button type="button" class="btn btn-warning">Lost Pets</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-warning">Found Pets</button>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header text-center">Post</div>
                <div class="card-body">
                    <button type="button" class="btn btn-success" id="postLost">Lost Pets</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-success" id="postFound">Found Pets</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#postLost").on("click", function () {
                window.location.replace("/login");
            });

            $("#postFound").on("click", function () {
                window.location.replace("/login");
            });
        });
    </script>