{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron text-center found-title">
                <h4 class="display-6">Post Found Pet</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="text-center">Featured Lost Pets in Your Area</h4>
            <h6 class="text-center">- Look before you post! -</h6>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <form class="foundPet">
                <div class="form-group">
                    <label>Choose Pet Type</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="cat" name="type" value="cat" class="custom-control-input">
                        <label class="custom-control-label" for="cat">Cat</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dog" name="type" value="dog" class="custom-control-input">
                        <label class="custom-control-label" for="dog">Dog</label>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="petDescription-input">Pet Description</label>
                    <textarea class="form-control" id="petDescription-input" name="petDescription"
                        placeholder="Enter pet description"></textarea>
                </div>
                <label>Enter Closest Major Intersection Where the Pet Was Found</label>
                <hr>
                <div class="form-group">
                    <label for="crossStreetOne-input">Cross Street One</label>
                    <input type="text" class="form-control" id="crossStreetOne-input" name="crossStreetOne"
                        placeholder="Cross Street One">
                </div>
                <div class="form-group">
                    <label for="crossStreetTwo-input">Cross Street Two</label>
                    <input type="text" class="form-control" id="crossStreetTwo-input" name="crossStreetTwo"
                        placeholder="Cross Street Two">
                </div>
                <button type="submit" class="btn btn-primary">Post Pet</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        var foundForm = $("form.foundPet");

        foundForm.on("submit", function (event) {
            event.preventDefault();
            var petTypeInput = $("input[name='type']:checked");
            var petDescriptionInput = $("textarea#petDescription-input");
            var crossStreetOneInput = $("input#crossStreetOne-input");
            var crossStreetTwoInput = $("input#crossStreetTwo-input");
            var petData = {
                petType: petTypeInput.val(),
                petDescription: petDescriptionInput.val().trim(),
                location: crossStreetOneInput.val().trim() + "/" + crossStreetTwoInput.val().trim()
            };

            setLocation(petData);
            petTypeInput.val();
            petDescriptionInput.val("");
            crossStreetOneInput.val("");
            crossStreetTwoInput.val("");

            function setLocation(petData) {
                $.get("/api/locations", {
                })
                    .then((response) => {
                        for (let i = 0; i < response.length; i++) {
                            if (response[i].name === petData.location) {
                                createPet(petData, response[i].id);
                            }
                        }
                    });

                $.post("/api/locations", {
                    name: petData.location
                })
                    .then((response) => {
                        createPet(petData, response.id);
                    });
            }

            // Need to add picture!!!
            function createPet(petData, locationId) {
                console.log(petData);
                $.post("/api/pets", {
                    petType: petData.petType,
                    description: petData.petDescription,
                    LocationId: locationId
                }).then(response => {
                    createPost(response.id);
                });
            }

            function createPost(petId) {
                $.post("/api/posts", {
                    title: "Found",
                    body: "",
                    PetId: petId
                }).then(response => {
                    window.location.replace("/profile");
                });
            }
        });
    });


</script>