{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron text-center lost-title">
                <h4 class="display-6">Post Lost Pet</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="text-center">Featured Found Pets in Your Area</h4>
            <h6 class="text-center">- Look before you post! -</h6>
            <hr>
        </div>
    </div>
</div>