{{> navbar user}}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron text-center profile-title">
                <h4 class="display-6">{{user.firstName}}'s Profile</h4>
            </div>
        </div>
    </div>
</div>