{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron text-center found-title">
                <h4 class="display-6">Found Pets</h4>
            </div>
        </div>
    </div>
    {{#if user.email}}
    <div class="row">
        <div class="col">
            <h4 class="text-center">Featured Found Pets in Your Area</h4><hr>
        </div>
    </div>
    {{/if}}
</div>