form.signup,
form.login,
form.lostPet,
form.foundPet {
  margin-top: 15px;
}

form.lostPet,
form.foundPet {
  margin-bottom: 100px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

footer {
  text-align: center;
  background-color: lightseagreen;
  padding: 5px;
}

body {
  background-color: mintcream;
}

.navbar-brand {
  font-size: 35px;
}

.homeHeader {
  margin-top: 100px;
  margin-bottom: 100px;
}

.view, .post {
  font-size: 30px;
}

.view-card, .post-card {
  border-width: 2px;
  background-color: mintcream;
}

.login-title, .signup-title, .profile-title, .lost-title, .foundTitle {
  margin-top: 15px;
  background-color: aliceblue;
}

.orLogin {
  margin-bottom: 80px;
}

.commentLegend {
  margin-top: 100px;
}

.dropdown-menu {
  margin-right: 5px;
}

#viewLost, #postLost {
  margin-bottom: 5px;
}

#viewFound,  #postFound {
  margin-top: 25px;
}

.nav-img {
  margin-right: 10px;
}

.no-reward {
margin-bottom: 15px;
}

.no-micro {
  margin-bottom: 10px;
}

.viewPet {
  display: block;
  margin: 0 auto;
}

.userInfo {
  margin-bottom: 50px;
}

.profilePost {
  margin-bottom: 50px;
}

.profilePostHeader {
margin-bottom: 30px;
}

.petCard {
  margin-top: 50px;
}

.noProfilePosts {
  margin-bottom: 200px;
}
