form.signup,
form.login,
form.lost-pet,
form.found-pet {
  margin-top: 15px;
}

form.lost-pet,
form.found-pet {
  margin-bottom: 100px;
}

footer {
  text-align: center;
  background-color: lightseagreen;
  padding: 5px;
}

body {
  background-color: mintcream;
}

.navbar-brand {
  font-size: 35px;
}

.home-header {
  margin-top: 100px;
  margin-bottom: 100px;
}

.view, .post {
  font-size: 30px;
}

.view-card, .post-card {
  border-width: 2px;
  background-color: mintcream;
}

.login-title, .signup-title, .profile-title, .lost-title, .found-title {
  margin-top: 15px;
  background-color: aliceblue;
}

.or-login, .post-col  {
  margin-bottom: 80px;
}

.dropdown-menu {
  margin-right: 5px;
}

#viewLost, #postLost {
  margin-bottom: 5px;
}

#viewFound,  #postFound {
  margin-top: 25px;
}

.nav-img {
  margin-right: 10px;
}

.no-reward {
margin-bottom: 15px;
}

.no-micro {
  margin-bottom: 10px;
}

.view-pet {
  display: block;
  margin: 0 auto;
}

.profile-post-header {
margin-bottom: 30px;
}

.pet-card {
  margin-top: 50px;
}

.no-profile-posts {
  margin-bottom: 200px;
}

.found-pet-post, .lost-pet-post, .user-contact-info, .profile-post, .user-info {
  margin-bottom: 50px;
}